diffusers
transformers==4.35.2
accelerate==0.25.0
timm==0.4.12
decord
einops
scipy
pandas
coloredlogs
flatbuffers
numpy==1.26.4
packaging
protobuf
sympy
imageio-ffmpeg
insightface
facexlib
opencv-python-headless
gradio
onnxruntime-gpu
triton @ https://huggingface.co/madbuda/triton-windows-builds/resolve/8808c895c0404858e145b261080f902e10d3b01c/triton-3.0.0-cp310-cp310-win_amd64.whl